<label>Server Name</label>

<!--<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">-->

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server
</button>
<p *ngIf="serverCreated">Server Was created, server name is {{serverName}}</p>
<app-server *ngFor="let server of servers; let i = index"></app-server>

